<header>
    <div class="header-inner">
        <a href="/" class="logo">
            <img src="/images/logo-bw.png" alt="{{ site.name }} Logo" width="30">
            <span class="logo-ludo">LUDO</span><span class="logo-gogy">GOGY</span>
        </a>
    </div>
</header>
